---
layout: content
---
<section class="meta">
  <span class="time">
    <time datetime='{{ page.date | date:"%Y-%m-%d" }}'>{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
    {% if page.categories.size != 0 %}
    |
    <span class="categories">
    分类
    {% for cat in page.categories %}
    <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
  </span>
    {% endif %}
    {% if page.tags.size != 0 %}
    |
    <span class="tags">
    标签
    {% for tag in page.tags %}
    <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  </span>
    {% endif %}
    浏览次数：<span data-hk-page="current"> - </span>
</section>
<section class="post">
    {{ content }}
</section>
<section align="right">
    <br/>
    <span>
    <a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav" {% endif %} {% unless page.previous %}
       class="pageNavInvalid" {% endunless %}>上一篇 {{ page.previous.title }}</a>
    &nbsp;&nbsp;&nbsp;
    <a {% if page.next %} href="{{ page.next.url }}" class="pageNav" {% endif %} {% unless page.next %}
       class="pageNavInvalid" {% endunless %}>下一篇 {{ page.next.title }}</a>
  </span>
</section>
{% include comments.md %}
<script type="text/javascript">
    // 读取 cookie
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            var c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                var c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }

    // 设置cookie
    function setCookie(c_name, value, expiredays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + expiredays);
        document.cookie = c_name + "=" + escape(value) +
                ((expiredays == null) ? "" : "; expires=" + exdate.toGMTString())
    }


    // 设置 div的滚蛋条跟随 body 的滚动条移动
    $(window).scroll(function () {
        var body_scroll, div_sroll;
        if (document.documentElement && document.documentElement.scrollTop) {
            body_scroll = document.documentElement.scrollTop; // 滚动条距离顶部高度
        } else if (document.body) {
            body_scroll = document.body.scrollTop;
        }
        var div_height = $("#toc").height();
        var body_height = $("body").height();
        // div 出现了滚动条
        if ($("#toc").scrollTop() > 0) {
            div_sroll = body_scroll / body_height * div_height;
            $("#toc").scrollTop(div_sroll);
        }
    });

    // 提示没有目录
    function dwnotify() {
        //遮罩显示
        var notify_html = '<span>当前页面 没有目录</span>';
        $(".no-directory").notify({
            message: {
                html: notify_html
            },
            fadeOut: {delay: 2000}
        }).show();

    }

    function setWidth(btn) {
        if (screen.width > 479) {
            btn.style.right = "15%";
        }
        else {
            btn.style.right = "31%";
        }
        return btn;
    }
    // 页面加载完成执行
    window.onload = function () {
        var last_url = window.location.pathname;
        var now_url = last_url.slice(1, last_url.length - 1);
        var cookie_name = 'directory' + now_url;
        var directory = getCookie(cookie_name);
        var btn = document.getElementById('directory_navigation');
        if (directory == null || directory == '') {
            directory = 'none';
        }
        if (directory == 'block') {
            btn = setWidth(btn)
        }
        else {
            btn.style.right = 0;
        }
        var divSideBarContents = document.getElementById('toc');
        var div_content = divSideBarContents.innerHTML;
        divSideBarContents.style.display = directory;
        btn.addEventListener('click', function () {
            var directory = getCookie(cookie_name);
            if (directory == "block") {
                divSideBarContents.style.display = 'none';
                btn.style.right = 0;
                setCookie(cookie_name, 'none', 365);
            }
            else {
                divSideBarContents.style.display = 'block';
                setCookie(cookie_name, 'block', 365);
                if (div_content == null || div_content == "" || div_content.length == 0) {
                    btn.style.right = 0;
                    dwnotify();
                }
                else {
                    btn = setWidth(btn)
                }
            }
        }, false);

        /*鼠标进入时的事件处理*/
        btn.onmouseenter = function () {
            btn.style.background = '#00bcff';
        };
        /*鼠标离开时的事件处理*/
        btn.onmouseleave = function () {
            btn.style.background = '#ffffff';
        };
    }
</script>