---
layout: content
---
<section class="meta">
  <span class="time">
    <time datetime='{{ page.date | date:"%Y-%m-%d" }}'>{{ page.date | date:"%Y-%m-%d" }}</time>
  </span>
    {% if page.categories.size != 0 %}
    |
    <span class="categories">
    分类
    {% for cat in page.categories %}
    <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
    {% endfor %}
  </span>
    {% endif %}
    {% if page.tags.size != 0 %}
    |
    <span class="tags">
    标签
    {% for tag in page.tags %}
    <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
    {% endfor %}
  </span>
    {% endif %}
</section>
<section class="post">
    {{ content }}
</section>
<section align="right">
    <br/>
    <span>
    <a {% if page.previous %} href="{{ page.previous.url }}" class="pageNav" {% endif %} {% unless page.previous %}
       class="pageNavInvalid" {% endunless %}>上一篇</a>
    &nbsp;&nbsp;&nbsp;
    <a {% if page.next %} href="{{ page.next.url }}" class="pageNav" {% endif %} {% unless page.next %}
       class="pageNavInvalid" {% endunless %}>下一篇</a>
  </span>
</section>
{% include comments.md %}
<script type="text/javascript">
    function getCookie(c_name) {
        if (document.cookie.length > 0) {
            var c_start = document.cookie.indexOf(c_name + "=");
            if (c_start != -1) {
                c_start = c_start + c_name.length + 1;
                var c_end = document.cookie.indexOf(";", c_start);
                if (c_end == -1) c_end = document.cookie.length;
                return unescape(document.cookie.substring(c_start, c_end))
            }
        }
        return ""
    }

    function setCookie(c_name, value, expiredays) {
        var exdate = new Date();
        exdate.setDate(exdate.getDate() + expiredays);
        document.cookie = c_name + "=" + escape(value) +
                ((expiredays == null) ? "" : "; expires=" + exdate.toGMTString())
    }
    window.onload = function () {
        var last_url = window.location.pathname;
        var now_url = last_url.slice(1, last_url.length - 1);
        var cookie_name = 'directory' + now_url;
        var directory = getCookie(cookie_name);
        var btn = document.getElementById('directory_navigation');
        if (directory == null || directory == '') {
            directory = 'none';
        }
        if (directory == 'block') {
            btn.style.right = "15%";
        }
        else {
            btn.style.right = 0;
        }
        var divSideBarContents = document.getElementById('toc');
        var div_content = divSideBarContents.innerHTML;
        divSideBarContents.style.display = directory;
        btn.addEventListener('click', function () {
            var directory = getCookie(cookie_name);
            if (directory == "block") {
                divSideBarContents.style.display = 'none';
                btn.style.right = 0;
                setCookie(cookie_name, 'none', 365);
            }
            else {
                divSideBarContents.style.display = 'block';
                setCookie(cookie_name, 'block', 365);
                if(div_content == null || div_content == "" || div_content.length == 0){
                    btn.style.right = 0;
                }
                else{
                    btn.style.right = "15%";
                }
            }
        }, false);

        /*鼠标进入时的事件处理*/
        btn.onmouseenter = function () {
            btn.style.background = '#00bcff';
        };
        /*鼠标离开时的事件处理*/
        btn.onmouseleave = function () {
            btn.style.background = '#ffffff';
        };
    }
</script>

